---
layout: default
title: About Us – Debrief Maritime Analysis Tool
---

{% include header-page.html title="ABOUT US" image="../assets/images/header_bg_aboutus.png" %}

<main>
    <section class="section-default">
        <div class="container-fluid">
            <h1>OUR VISION</h1>
            <h4 class="text-center font-weight-light mb-5 pb-3">Advancing Maritime Security Through Data-Driven Analysis</h4>
            <div class="divider-default"></div>
            <h1 class="mb-4 pb-2">WHAT’S NEW</h1>
            <div class="last-posts-list">
            {% assign recentCount = 0 %}
            {% for post in site.posts %}
                {% assign recentCount = recentCount | plus: 1 %}

                <div class="media b-last-post">
                    <div class="align-self-start mr-3">
                        <div class="b-last-post__date">
                            {{ post.date | date: "%e" }}
                            <span>{{ post.date | date: "%b" }}</span>
                        </div>
                    </div>
                    <div class="media-body">
                        <a href="{{ post.url }}">
                            <h5 class="font-weight-light">{{ post.title }}</h5>
                        </a>
                        <p>{{ post.excerpt | strip_html | truncatewords: 55 }}</p>
                        <a href="{{ post.url }}" target="_self" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm mx-1 my-2">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="14" viewBox="0 0 189 317" fill="#fff">
                                <g transform="translate(-5 -5)">
                                    <rect width="48" height="222" x="72.4594" y="120.4594" rx="12" transform="rotate(45 96.4594 231.4594)"/>
                                    <rect width="48" height="231" x="75.3988" y="-16.4652" rx="12" transform="rotate(-45 99.3988 99.0348)"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                
                {% if recentCount == 10 %}
                    {% break %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
    <section>
           {% for post in site.posts %}
                <div class="">
                        <div class="">
                                {{ post.date | date: "%B %e, %Y" }}
                        </div>
                </div>
            {% endfor %}


            <h2>Archive</h2>
                {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
                {% for yearMonth in postsByYearMonth %}
                
                <a href="{{ year }}">
                        <h3>{{ yearMonth.name }}</h3>
                </a>
                {% endfor %}


    </section>

    <section class="section-default">
        <div class="container-fluid">
            <h1>BROUGHT TO YOU BY</h1>
            <div class="divider-default"></div>
            <div class="row">
              <div class="col-md-3">
                <div class="team-member">
                  <div class="team-member__img-wrap">
                      <img src="../assets/images/ian_mayo.jpg" alt="Ian Mayo" class="img-fluid team-member__img">
                      <div class="team-social">
                        <div class="team-social__link-wrap">
                            <a class="team-social__link team-social__link--linkedin" href="https://www.linkedin.com/in/ianmayo">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                      </div>
                  </div>
                  <h4 class="team-member__name">Ian Mayo</h4>
                  <div class="team-member__job-title">Project Lead</div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mt-5">
                    <p class="font-weight-light"><b>Ian Mayo</b> (from <a title="Deep Blue C Technologies" href="http://deepbluec.com" target="_blank">Deep Blue C Technologies</a>) has been developing and maintaining Debrief since 1995, and helping users perform effective analysis and deliver persuasive results.</p>
                    <p class="font-weight-light">He has studied and worked in the Marine Technology environment since 1987, and the defence-specific domain since 1992. Back in 1990 he developed the predecessor to the modern electronic navigational chart as part of his Master of Philosophy Research Degree from the University of Plymouth, UK.</p>
                    <p class="font-weight-light">Since then he has worked on surface and submarine command systems, oceanographic support systems, and developed a range of tools related to the development, management and analysis of maritime exercises using both web and desktop technologies.</p>  
                </div>
              </div>
            </div>
        </div>
    </section>

    <div class="containet-fluid pb-5">
        <div class="block-try mb-5">
            <div class="row">
                <div class="col-md-10 d-flex flex-column justify-content-center">
                <h2 class="font-weight-light">FREQUENTLY ASKED QUESTIONS</h2>
                <p class="font-weight-light">Answers to some of the frequently asked questions about the Common issues</p>
                </div>
                <div class="col-md-2">

                <a target="_self" class="btn-circle btn-with-symbol ml-auto" href="/faq">
                    <span class="text">SURE</span>
                    <span class="symbol">
                        <img alt="ok" src="../assets/images/done-icon.png">
                    </span>
                </a>

                </div>
            </div>
            </div>
        </div>
    </div>

</main>
