---
layout: default
title: Get Debrief – Debrief Maritime Analysis Tool
---

{% include header-page.html title="GET DEBRIEF" image="../assets/images/GetDebriefBanner.png" %}

<main>
    <section class="section-default">
        <div class="container-fluid">
            <h1>DEBRIEF ON CD</h1>
            <p class="text-center font-weight-light">Get your own copy of Debrief on CD</p>
            <div class="divider-default"></div>
            <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-light">If you don’t mind providing some background to your use of Debrief, we’ll be happy to send you a copy of Debrief on CD.</p>
                    <p class="font-weight-light">Debrief will run from this CD without requiring installation on your PC.</p>
                    <img src="../assets/images/sml_mock_01-295x2201.png" alt="" class="img-thumbnail thumbnail-user-logo">
                </div>
                <div class="col-md-8">
                    <form class="mb-5">
                        <div class="form-row">
                            <div class="form-group col-md-6 pr-2">
                            <label for="CDinputName" class="font-weight-light">Your Name (required)</label>
                            <input type="text" class="form-control form-control--gray form-control-lg" id="SMinputName">
                            </div>
                            <div class="form-group col-md-6 pl-2">
                            <label for="CDinputEmail" class="font-weight-light">Your Email (required)</label>
                            <input type="email" class="form-control form-control--gray form-control-lg" id="CDinputEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CDinputAddress" class="font-weight-light">Your mailing address  (required)</label>
                            <input type="text" class="form-control form-control--gray form-control-lg" id="CDinputAddress">
                        </div>
                        <div class="form-group">
                            <label for="CDinputMessage" class="font-weight-light">Your intended use of Debrief</label>
                            <textarea class="form-control form-control--gray form-control-lg" id="CDinputMessage" rows="6"></textarea>
                            </div>
                        
                        <button type="submit" class="btn btn-secondary btn-submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% for item in site.data.get-debrief.section %} 
        <section class="section-default section-default--get-dedrief">
            <div class="container-fluid">
                <h1>{{ item.title }}</h1>
                <div {% if item.divider == true %}class="divider-default"{% endif %}></div>
                <div class="row">
                    <div {% if item.img_first == false %}class="col-md-6 order-1"{% else %}class="col-md-6 order-2"{% endif %}>
                        {% for entry in item.text %} 
                            <p class="font-weight-light">{{ entry.paragraph }}</p>
                        {% endfor %}
                        {% if item.btn == true %}
                            <a target="_blank" href="{{ item.link }}" class="btn btn-default btn-danger {{ item.btn_margin }}">
                                <i class="{{ item.icon }}"></i>
                                {{ item.btn_name}}
                            </a>
                        {% endif %}
                        {% for entry in item.text %} 
                            <p class="font-weight-light">{{ entry.paragraph-under }}</p>
                        {% endfor %}
                    </div>
                    <div {% if item.img_first == true %}class="col-md-6 order-1"{% else %}class="col-md-6 order-2"{% endif %}>
                        <img src="{{ item.image }}" alt="" class="img-thumbnail img-fluid img-get-dedrief">
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}


</main>
