---
layout: default
title: Support – Debrief Maritime Analysis Tool
---

{% include header-page.html title="Mature software with lots of user guidance to get you started, and to keep you moving forward" image="../assets/images/header_bg_support.jpg" %}

<main>
    <section class="section-default">
        <div class="container-fluid">
            <h1>LEARN MORE ABOUT DEBRIEF</h1>
            <div class="divider-default"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="font-weight-light">User Guide</h2>
                    <p class="font-weight-light">Debrief comes with more than 200 pages of reference guidance. This guidance is available in searchable web-based format within Debrief and online, or in printable format.  Links to both are provided below.</p>
                    <a target="_self" href="/tutorial/index.html" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      <i class="fas fa-globe-americas"></i>
                      ONLINE
                    </a>
                    <a target="_self" href="/library/DebriefNG.pdf" class="btn btn-info btn-default font-weight-light btn-sm m-1">
                      <i class="fa fa-print"></i> 
                      PRINTED
                    </a>
                </div>
                <div class="col-sm-4">
                    <h2 class="font-weight-light">Task Sheets</h2>
                    <p class="font-weight-light">To introduce new users to the breadth of Debrief capabilities, and to help new users get started, Debrief has a set of task sheets. These can be used interactively within the application (computer-based training style) or printed off and used to track progress (part-3 training style).</p>
                    <a target="_self" href="library/DebriefNG_Tutorial.pdf" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      <i class="fas fa-book"></i>
                      GENERAL
                    </a>
                    <a target="_self" href="/library/DebriefNG_TMA_Tutorial.pdf" class="btn btn-info btn-default font-weight-light btn-sm m-1">
                      <i class="fas fa-book"></i>
                      TRACK CONSTRUCTION
                    </a>
                </div>
                <div class="col-sm-4">
                    <h2 class="font-weight-light">Case Studies</h2>
                    <p class="font-weight-light">Learn more about how the Debrief application can be used to solve realistic problems by looking at the collection of Using Debrief Case Studies.</p>
                    <a target="_self" href="/category/use-case-study" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      <i class="fas fa-graduation-cap"></i>
                      LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-default section-default--wet-asphalt">
      <div class="container-fluid">
        <h3 class="text-center text-white font-weight-light">It’s always worth keeping a copy of the User Guide at your desk – the Index is a great way of getting to your answers.</h3>
      </div>
    </section>

    <section class="section-default">
        <div class="container-fluid">
            <h1>GETTING SUPPORT</h1>
            <p class="text-center font-weight-light">How we can help you move forward</p>
            <div class="divider-default"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="font-weight-light">Debrief Forums</h2>
                    <p class="font-weight-light">The new online forum is a great place to get answers to your Debrief questions.  Both Debrief maintenance staff and expert users are members of the group, and are keen to help new users move forward.</p>
                    <a target="_self" href="https://groups.google.com/forum/#!forum/debrief" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      VIEW
                    </a>
                </div>
                <div class="col-sm-4">
                    <h2 class="font-weight-light">Support Contracts</h2>
                    <p class="font-weight-light">The new online forum is a great place to get answers to your Debrief questions.  Both Debrief maintenance staff and expert users are members of the group, and are keen to help new users move forward.</p>
                    <a target="_self" href="http://deepbluec.com/debrief-support#debrief-support-plans" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      LEARN MORE
                    </a>
                </div>
                <div class="col-sm-4">
                    <h2 class="font-weight-light">Custom Solutions</h2>
                    <p class="font-weight-light">The new online forum is a great place to get answers to your Debrief questions.  Both Debrief maintenance staff and expert users are members of the group, and are keen to help new users move forward.</p>
                    <a target="_self" href="http://deepbluec.com/debrief-support#debrief-custom-support-plans" class="btn btn-default btn-dark-hover btn-secondary font-weight-light btn-sm m-1">
                      LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include form-contact.html %}
</main>
