<section class="section-default">
  <div class="container-fluid">
    <h1>GET IN TOUCH WITH US</h1>
    <p class="text-center font-weight-light">If you’d like to learn more about Debrief, or would like to discuss support options please leave us a message, and we’ll get back to you as soon as we can.</p>
    <div class="divider-default"></div>
    <form class="mb-5 needs-validation" action="https://getsimpleform.com/messages?form_api_token=444331079b5d18f83da73aea8c9876d4" method="post" novalidate> 
      <input type="hidden" name="redirect_to" value="https://debrief.github.io/message-submitted" />
        <div class="form-row">
          <div class="form-group col-md-6 form-col-l--3">
            <label for="contactName" class="font-weight-light d-inline-block">Your Name</label>
            <small id="contactNameHelp" class="form-text text-muted d-inline-block"> (required)</small>
            <input type="text" name="contactName" class="form-control form-control--gray form-control-lg" id="contactName" aria-describedby="contactNameHelp" required>
            
          </div>
          <div class="form-group col-md-6 form-col-r--3">
            <label for="contactEmail" class="font-weight-light d-inline-block">Your Email (required)</label>
            <small id="contactEmailHelp" class="form-text text-muted d-inline-block"> (required)</small>
            <input type="email" name="contactEmail" class="form-control form-control--gray form-control-lg" id="contactEmail" aria-describedby="contactEmailHelp" required>
          </div>
        </div>
        <div class="form-group">
          <label for="contactSubject" class="font-weight-light">Subject</label>
          <input type="text" name="contactSubject" class="form-control form-control--gray form-control-lg" id="contactSubject">
        </div>
        <div class="form-group">
            <label for="contactMessage" class="font-weight-light">Your Message</label>
            <textarea name="contactMessage" class="form-control form-control--gray form-control-lg" id="contactMessage" rows="6"></textarea>
          </div>
        
        <button type="submit" class="btn btn-secondary btn-submit">SEND THE MESSAGE</button>
      </form>
  </div>
</section>