<ul class="nav nav-pills justify-content-center mb-3 ml-0" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link pill-link-secondary active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pill-link-secondary" id="pill-analysis-tab" data-toggle="pill" href="#pill-analysis" role="tab" aria-controls="pill-analysis" aria-selected="false">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pill-link-secondary" id="pill-presentation-tab" data-toggle="pill" href="#pill-presentation" role="tab" aria-controls="pill-presentation" aria-selected="false">Presentation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link pill-link-secondary" id="pill-reconstruction-tab" data-toggle="pill" href="#pill-reconstruction" role="tab" aria-controls="pill-reconstruction" aria-selected="false">Reconstruction</a>
      </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
      <div class="row">
        {% for item in site.data.features.all %}
            {% include feature-block.html %}
        {% endfor %}
      </div>
    </div>

    <div class="tab-pane fade" id="pill-analysis" role="tabpanel" aria-labelledby="pill-analysis-tab">
      <div class="row">
          {% for item in site.data.features.all %}
            {% if item.analysis == true %}
              {% include feature-block.html %}
            {% endif %}
          {% endfor %}
        </div>      
    </div>

    <div class="tab-pane fade" id="pill-presentation" role="tabpanel" aria-labelledby="pill-presentation-tab">
      <div class="row">
          {% for item in site.data.features.all %}
            {% if item.presentation == true %}
              {% include feature-block.html %}
            {% endif %}
          {% endfor %}
        </div>      
    </div>
    
    <div class="tab-pane fade" id="pill-reconstruction" role="tabpanel" aria-labelledby="pill-reconstruction-tab">
      <div class="row">
        {% for item in site.data.features.all %}
          {% if item.reconstruction == true %}
            {% include feature-block.html %}
          {% endif %}
        {% endfor %}
      </div>      
    </div>
  </div>