<footer class="debfief-footer">
  <div class="container-fluid">
    <div class="debfief-footer__container">
      <div class="copyright-text">
        Copyright © 2019 
        <a href="/">Debrief Maritime Analysis Tool</a>
        All rights reserved.
      </div>
      <div class="nav-socials">
        <span class="nav-socials__text">Follow us:</span>
        <a href="http://www.twitter.com/DebriefTool" target="_blank" title="twitter" class="nav-socials__link nav-socials__link--twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://plus.google.com/113720351399095470958" target="_blank" title="google+" class="nav-socials__link nav-socials__link--google-plus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a href="https://www.facebook.com/DebriefTool" target="_blank" title="facebook" class="nav-socials__link nav-socials__link--facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="http://uk.linkedin.com/in/ianmayo#background-projects-container" target="_blank" title="linkedin" class="nav-socials__link nav-socials__link--linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCG7ovygV8gGhbetIqxaHJIQ" target="_blank" title="youtube" class="nav-socials__link nav-socials__link--youtube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="http://debrief.info/feed" target="_blank" title="rss" class="nav-socials__link nav-socials__link--rss">
          <i class="fas fa-rss"></i>
        </a>
      </div>

    </div>
  </div>
</footer>