<form class="form-inline form-search" method="get" role="search" action="https://www.google.com/search" target="_blank">
  <div class="input-group">
    <input type="hidden" name="sitesearch" value="{{ site.url }}" />
    <input type="text" class="form-control form-search__input" name="q" id="nav-search"  placeholder="Search with Google" aria-describedby="basic-addon1">
    <div class="input-group-prepend">
        <button type="submit" class="btn btn-secondary form-search__btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
    </div>
  </div>
</form>
