<form class="mb-5 needs-validation" action="https://getsimpleform.com/messages?form_api_token=444331079b5d18f83da73aea8c9876d4" method="post" novalidate>
  <input type="hidden" name="redirect_to" value="https://debrief.github.io/get-debrief-submitted" />
  <div class="form-row">
      <div class="form-group col-md-6 pr-2">
      <label for="CDName" class="font-weight-light">Your Name </label>
      <small id="CDnameHelp" class="form-text text-muted d-inline-block"> (required)</small>
      <input type="text" name="CDname" class="form-control form-control--gray form-control-lg" id="CDname" aria-describedby="CDnameHelp" required>
      </div>
      <div class="form-group col-md-6 pl-2">
      <label for="CDEmail" class="font-weight-light">Your Email</label>
      <small id="CDEmailHelp" class="form-text text-muted d-inline-block"> (required)</small>
      <input type="email" name="CDemail" class="form-control form-control--gray form-control-lg" id="CDemail" aria-describedby="CDemailHelp" required>
      </div>
  </div>
  <div class="form-group">
      <label for="CDaddress" class="font-weight-light">Your mailing address</label>
      <small id="CDaddressHelp" class="form-text text-muted d-inline-block"> (required)</small>
      <input type="text" name="CDaddress" class="form-control form-control--gray form-control-lg" id="CDaddress" aria-describedby="CDaddressHelp" required>
  </div>
  <div class="form-group">
      <label for="CDmessage" class="font-weight-light">Your intended use of Debrief</label>
      <textarea name="CDmessage" class="form-control form-control--gray form-control-lg" id="CDmessage" rows="6"></textarea>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4">
          <label for="question" class="font-weight-light">What is the sum of 54 and 43?</label>
          <input pattern="97" type="text" id="question" name="question" class="form-control form-control--gray form-control-lg w-50" required placeholder="">
      </div>
  </div>
  <button type="submit" class="btn btn-secondary btn-submit">SEND</button>
</form>