<section class="section-default text-center">
  <div class="container-fluid">
    <h1>GET IN TOUCH WITH US</h1>
    <p class="text-center font-weight-light">If you’d like to learn more about Debrief, or would like to discuss support options please send a message to <span class="text-secondary font-italic">contact</span> at <span class="text-secondary">support@DeepBlueC.com</span>.</p>
    <div class="divider-default"></div>
    <a target="_self" class="btn btn-default btn-primary mail-btn" href="mailto:support@DeepBlueC.com">Send a message now!</a>  
  </div>
</section>