<section class="section-default text-center">
  <div class="container-fluid">
    <h1>GET IN TOUCH WITH US</h1>
    <p class="text-center font-weight-light mt-4 fs-19">If you’d like to learn more about Debrief, or would like to discuss support options please send a message to</p>
    <p class="text-secondary fs-21">contact<span style="display:none">foo</span>@debrief.info</p>
    <div class="divider-default"></div>
    <a target="_self" class="btn btn-default btn-primary btn-mail" href="mailto:contact@debrief.info">Send a message now!</a>
  </div>
</section>