<header class="header-blog" style="background-image: url(../assets/images/header_bg_blog.jpg);">
  <div class="container">
    <div class="header-blog__container">
      <h1 class="{{ include.classes }} header-blog__title">{{ include.title }}</h1>
      <h4 class="{{ include.classes }} header-blog__subtitle">{{ include.subtitle }}</h4>  
    </div>
    <div class="header-blog__breadcrumbs">
      <a href="/">Home</a>
      <span>\</span>
      <a href="/blog">Blog</a>
    </div>
  </div>
</header>


