<span id="forkongithub">
  <a href="https://github.com/debrief/debrief">Fork me on GitHub</a>
</span>




<div class="navbar-wrapper">
  <nav class="header-navbar navbar fixed-top navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="../assets/images/debrief-logo.png" srcset="../assets/images/debrief-logo@2x.png 2x" alt="Debrief" class="img-fluid">
        </a>
        <button class="navbar-toggler header-navbar__toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="headerNavbar">
          <div class="navbar-nav header-navbar__nav ml-auto">

            {% for item in site.data.navigation.nav %}
              <div {% if item.dropdown == true %}class="nav-item dropdown"{% else %}class="nav-item"{% endif %}>
                <a href="{{ item.link }}" id="{{ item.id }}"
                  {% if page.url == item.link %}style="color: #fff; background-color: #003;"{% endif %} 
                  {% if item.dropdown == true %}
                    class="nav-link header-navbar__nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    {% else %}class="nav-link header-navbar__nav-link"
                  {% endif %} >
                  {{ item.name }}
                </a>
                {% if item.subnav[0] %}
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ item.id }}">
                    {% for entry in item.subnav %}
                      <a class="dropdown-item header-navbar__dropdown-item" href="{{ entry.link }}">{{ entry.name }}</a>
                    {% endfor %}
                  </div>
                {% endif %}

              </div>
            {% endfor %}

            <div class="nav-item nav-item--search dropdown">
                <a href="#" class="nav-link header-navbar__nav-link dropdown-toggle" id="headerNavlinkSearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search"></i>                 
                </a>                 
                <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="headerNavlinkSearch">
                    {% include form-search.html %}
                </div>
              </div>
          </div>
        </div>
    </div>
  </nav>
</div>
