<span id="forkongithub">
  <a href="https://github.com/debrief/debrief">Fork me on GitHub</a>
</span>

<div class="navbar-wrapper">
  <nav class="header-navbar navbar fixed-top navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../assets/images/debrief.png" alt="Debrief" class="img-fluid">
        </a>
        <button class="navbar-toggler header-navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="headerNavbar">
          <div class="navbar-nav header-navbar-nav ml-auto">
            <div class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </div>
            <div class="nav-item">
              <a href="#" class="nav-link">Get Debrief</a>
            </div>
    
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="headerNavlinkVideos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Videos
                </a>
                <div class="dropdown-menu" aria-labelledby="headerNavlinkVideos">
                  <a class="dropdown-item" href="#">Getting started</a>
                  <a class="dropdown-item" href="#">Single Sided Reconstruction</a>
                </div>
              </div>
    
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="headerNavlinkAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="headerNavlinkAbout">
                  <a class="dropdown-item" href="#">About Us</a>
                  <a class="dropdown-item" href="#">FAQ</a>
                  <a class="dropdown-item" href="#">Customisation example</a>
                  <a class="dropdown-item" href="#">Use Case Study</a>
                  <a class="dropdown-item" href="#">Releases</a>
                </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="headerNavlinkSupport" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
                <div class="dropdown-menu" aria-labelledby="headerNavlinkSupport">
                    <a class="dropdown-item" href="#">Getting Support</a>
                    <a class="dropdown-item" href="#">User Guide</a>
                    <a class="dropdown-item" href="#">Self-teach tutorial (PDF)</a>
                    <a class="dropdown-item" href="#">Replay File Format</a>
                </div>
            </div>
            <div class="nav-item">
              <a href="#" class="nav-link">Blog</a>
            </div>
            <div class="nav-item nav-item--search dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="headerNavlinkSearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search"></i>                 
                </a>                 
                <div class="dropdown-menu" aria-labelledby="headerNavlinkSearch">
                  <form class="form-inline" role="search" action="http://debrief.info">
                      <div class="input-group">
                        <input type="text" class="form-control" name="search" id="nav-search"  placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-danger my-2 my-sm-0" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
  </nav>
</div>
