<span id="forkongithub">
  <a href="https://github.com/debrief/debrief">Fork me on GitHub</a>
</span>




<div class="navbar-wrapper">
  <nav class="header-navbar navbar fixed-top navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="../assets/images/debrief.png" alt="Debrief" class="img-fluid">
        </a>
        <button class="navbar-toggler header-navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="headerNavbar">
          <div class="navbar-nav header-navbar-nav ml-auto">

            {% for item in site.data.navigation.nav %}
              <div {% if item.dropdown == 1 %}class="nav-item dropdown"{% endif %} {% if item.dropdown != 1 %}class="nav-item"{% endif %}>
                <a href="{{ item.link }}" id="{{ item.id }}"{% if page.url == item.link %}style="color: #fff; background-color: #003;"{% endif %} 
                                                                             {% if item.dropdown == 1 %}class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %} 
                                                                             {% if item.dropdown != 1 %}class="nav-link"{% endif %} >
                  {{ item.name }}
                </a>
                {% if item.subnav[0] %}
                  <div class="dropdown-menu" aria-labelledby="{{ item.id }}">
                    {% for entry in item.subnav %}
                      <a class="dropdown-item" href="{{ entry.link }}">{{ entry.name }}</a>
                    {% endfor %}
                  </div>
                {% endif %}

              </div>
            {% endfor %}

            <div class="nav-item nav-item--search dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="headerNavlinkSearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search"></i>                 
                </a>                 
                <div class="dropdown-menu" aria-labelledby="headerNavlinkSearch">
                  <form class="form-inline" role="search" action="http://debrief.info">
                      <div class="input-group">
                        <input type="text" class="form-control" name="search" id="nav-search"  placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-danger my-2 my-sm-0" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
  </nav>
</div>
