.blog-content-block {
  background-color: $white;
}

// Sidebar 
.blog-sidebar {
  padding: 20px;
  .form-search {
    .input-group {
      width: 100%;
    }
  }
}
.blog-widget {
  margin-bottom: 20px;
  &__title {
    color: $text-dark;
    position: relative;
    border-bottom: 1px solid rgba(119,119,119,.1);
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    &::before {
      border-bottom: 1px solid #000033;
      bottom: -1px;
      content: "";
      position: absolute;
      width: 40px
    }
  }
}