.debfief-footer {
  border-top: 3px solid $primary;
  background-color: #1a3157;
  color: #bbbbbb;
  padding-top: 3.4rem;
  padding-bottom: 0.8rem;
  position: relative;
  &:before {
    background-repeat: no-repeat;
    border: 0 none;
    content: "";
    top: -57px;
    padding: 10px;
    position: absolute;
    right: 50px;
    width: 80px;
    height: 80px;
    background-image: url(../images/ship.png);
  }
}

.copyright-text {
  color: $text-gray;
  font-weight: 300;
  a {
    color: $text-gray;
    @include hover-focus-active {
      text-decoration: none;
      color: #f7f7f7;
    }
  }
}

.nav-socials {
  &__text {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
  }
  &__link {
    color: $text-gray;
    border: 1px solid rgba(255,255,255,.07);
    border-radius: 50%;
    line-height: 26px;
    width: 28px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin-right: 3px;
    transition: all .9s ease 0s;
    @include hover {
      color: #f7f7f7;
    }
    &--twitter:hover {
      background: #00acee;
    }
    &--facebook:hover {
      background: #3B5998;
    }
    &--google-plus:hover {
      background: #dd4c39;
    }
    &--linkedin:hover {
      background: #007bb6;
    }
    &--youtube:hover {
      background: #ff0000;
    }
    &--rss:hover {
      background: #ffac3d;
    }
  }
}