//header-page

.header-page {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 20px;
  overflow: hidden;
  box-shadow: 1px 0 1px rgba(50,50,50,0.15) inset;
  &__title {
    background-color: rgba(0, 0, 33, 0.4);
    padding: 10px 15px;
    color: $white;
    font-weight: 300;
    margin: 20px auto 10px;
    animation: fadeInDown 0.7s linear 1;
  }
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


//header-blog

.header-blog {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-attachment: fixed;
  min-height: auto;
  color: #000033;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 0 1px rgba(50,50,50,0.15) inset;
  &__container {
    background-color: rgba(175, 163, 115, 0.5);
    padding: 20px 15px;
  }
  &__title {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__breadcrumbs {
    padding: 10px 15px;
    background-color: rgba(175, 163, 115, 0.5);
    color: $primary;
    font-size: 11px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    a {
      color: $primary;
      
      padding-left: 5px;
      padding-right: 5px;
      @include hover-focus-active {
        color: #4b4b4b;
      }
    }
  }
}

// Form search 

.form-search {
  &__input {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }
  .input-group-prepend {
    .form-search__btn {
      font-size: 14px;
      line-height: 1.42857143;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}


//Post Preview 
.post-preview {
  padding: 20px 25px 5px;
  background-color: $white;
  margin-bottom: 45px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  position: relative;
  &__title {
    color: $text-dark;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    @include hover-focus-active {
      color: $secondary;
    }
  }
  &__meta,
  &__footer {
    color: $supporting-text;
    padding: 10px 0;
    border-top: 1px solid $input-bg-gray;
    font-size: 11px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &::after {
      border-bottom: 1px solid #ccc;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -1px;
      width: 25px;
    }
  }
  &__meta {
    border-bottom: 1px solid $input-bg-gray;
    &::before {
      border-bottom: 1px solid #ccc;
      bottom: -1px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      width: 25px;
    }
  }
  &__body {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}