.post-content {
  padding: 25px 0;
  h2 {
    font-weight: 300;
    margin-top: 20px;
  }
  img {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}


//Post Preview 
.post-block {
  padding: 20px 25px 5px;
  background-color: $white;
  margin-bottom: 45px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  position: relative;
  &__title {
    color: $text-dark;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    @include hover-focus-active {
      color: $secondary;
    }
  }
  &__meta,
  &__footer {
    color: $supporting-text;
    padding: 10px 0;
    border-top: 1px solid $input-bg-gray;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
    align-items: flex-start;
    flex-direction: column;
    @include media-breakpoint-up (sm) {
      font-size: 11px;
      align-items: center;
      flex-direction: row;
    }
    @include media-breakpoint-down (xs) {
      .post-block__categories,
      .post-block__tags,
      .post-block__views-count {
        margin-bottom: 3px;
      }
    }
    &::after {
      border-bottom: 1px solid #ccc;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -1px;
      width: 25px;
    }
  }
  &__meta {
    border-bottom: 1px solid $input-bg-gray;
    &::before {
      border-bottom: 1px solid #ccc;
      bottom: -1px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      width: 25px;
    }
  }
  &__body {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__related-link {
    color: $secondary;
    @include hover-focus-active {
      color: #999999;
      text-decoration: none;
      transition: all .3s;
    }
    @include hover {
      position: relative;
      top: 1px;
    }
  }
}

// Article vote block
.article-vote {
  border-color: rgba(0, 0, 0, .07);
  border-style: solid;
  border-width: 1px 0;
  margin: 20px 0;
  background-color: $white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  &__question {
    margin-right: 20px;
    padding: 10px;
  }
  &__controls {
    padding: 10px;
  }
  &__control-link  {
    box-shadow: 0 -2px rgba(0, 0, 0, .03) inset;
    font-weight: 700;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 4px 5px;
    margin-right: 4px;
    color: $navbar-light-color;
    border: 1px solid #ddd;
    &.positive:hover {
      color: #6a9c1f;
    }
    &.negative:hover {
      color: #ac2d22;
    }
  }
}

// Post navigation
.post-page-nav {
  &__link {
    padding: 2px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    @include hover-focus-active {
      background-color: #000033;
      color: #fff;
    }
    span {
      font-size: 19px;
      line-height: 1;
    }
    @include media-breakpoint-down (xs) {
      font-size: 12px;
      text-align: center;
      width: 100%;
      span {
        font-size: 15px;
      }
    }
  }
}

// Author block
.author-block {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 20px;
  box-shadow: 0 1px 0 #ccc;
  background: $primary;
  color: $white;
  &__name {
    a {
      color: $white;
      font-weight: 300;
    }
  }
  &__socials {
    font-size: 11px;
  }
  &__social-link {
    transition: all .5s ease 0s;
    margin-right: 5px;
    &.gplus {
      @include hover-focus-active {
        background-color: #c23321;
        color: #fff;
      }
    }
    &.linkedin {
      @include hover-focus-active {
        background-color: #005983;
        color: #fff;
      }
    }
  }
}

//Other posts block
.other-posts {
 background-color: $white;
 padding: 10px 25px;
}
.other-posts-item {
  border-bottom: 1px solid rgba(119, 119, 119, .1);
  padding: 5px 0;
  &__img {
    width: 50px;
    height: 50px;
  }
  &__title {
    font-weight: 300;
  }
  &__date {
    font-size: 13px;
  }
}
