---
layout: default
title: 'Get Debrief – Debrief Maritime Analysis Tool'
pagination:
  enabled: true
  debug: true
---

{% include header-blog.html title="The Debrief Blog"  subtitle="Keep up to speed on what's happening in Debrief." classes="text-center" %}

<main class="page-content page-content--blog" aria-label="Content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-9">
        <div>
          {% for post in paginator.posts %}
            {% include post-preview.html %}
          {% endfor %}
          
          <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | relative_url }}"> 
                  &laquo; Prev
                </a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                  <li>
                      {% if page.url == trail.path %}
                        <em>{{ trail.num }}</em>
                      {% else %}
                        <a href="{{ trail.path | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
                      {% endif %}
                      
                  </li>
                {% endfor %}
              {% endif %}
            
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | relative_url }}">
                  Next &raquo;
                </a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
          {% endif %}
        <!-- Pagination links End-->
        {% comment %}
        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="selected"{% endif %}>
                <a href="{{ trail.path | replace: 'index.html', '' | prepend: site.baseurl  }}" title="{{trail.title}}">{{ trail.num }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% endcomment %}
        </div>
      </div>


      <div class="col-md-3">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
  
</main>
