---
layout: default
title: Home
---

<header class="home-header" role="banner">
  <section class="home-hero-section"></section>
  <section class="home-intro">
    <div class="container-fluid text-center">
        <h2 class="font-weight-normal">Powerful, Free, Fast and Intuitive!</h2>
        <h5 class="font-weight-light mt-2">The Debrief Maritime Analysis Tool accelerates maritime data analysis and reporting. Over twenty years of visionary development make us the first choice of effective analysts the world over.</h5>    
    </div>
  </section>
</header>
<main class="page-content" aria-label="Content">
  <section class="section-default benefits-section">
    <div class="container-fluid">
        <h1>BENEFITS</h1>
        <div class="divider-default clearfix "></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-open-source.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Open Source</h3>
                <p>Debrief’s Open Source license means that it is (and always will be) completely free to use, plus you’ll never suffer “Vendor lock-in”.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-multi-platform.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Multi Platform</h3>
                <p>Debrief’s Java foundations mean that it will run on 32 and 64 bit versions of MS Windows, Apple OSX and Linux.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-mature.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Mature</h3>
                <p>Under continuous maintenance since 1995, the algorithms underpinning Debrief have had around two decades of testing and development.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-capable.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Capable</h3>
                <p>A suite of custom data views mean that challenging analysis tasks become easy and straightforward, allowing the analyst to focus on considered observations rather than collating data.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-reliable.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Reliable</h3>
                <p>Currently in use by Navies, Governmental and non-Governmental organisations around the world, the Debrief software has unprecedented levels of reliability.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="benefits-item">
              <div class="benefits-item__icon">
                <img src="../assets/images/benefits-supported.png" alt="" class="img-fluid">
              </div>
              <div class="benefits-item__body">
                <h3>Supported</h3>
                <p>This well documented, standards adherent application is easy to maintain, either within your own organisation or with commercial contracted support.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    

  </section>
  <section class="section-default">
    <div class="container-fluid">
      <h1>CAPABILITIES</h1>
      <div class="divider-default clearfix"></div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="https://www.youtube.com/watch?v=1kNJgjtZ_f8" target="_blank">
            <img class="img-fluid" src="../assets/images/QuickIntroductionTrimmed.gif" alt="Quick Introduction Trimmed" width="317" height="278">
          </a>
        </div>
        <div class="col-sm-6">
          <h3 class="font-weight-light mt-3">Analysis & Reporting</h3>
          <p class="font-weight-light mb-5">Debrief supports the full maritime analysis process, from loading data, through analysing that data, to producing attractive and persuasive images in your analysis report.</p>
          <a target="_blank" href="https://www.youtube.com/watch?v=1kNJgjtZ_f8" class="btn btn-lg btn-default btn-secondary">
            <i class="far fa-chart-bar"></i>
            See the full screencast
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="font-weight-light mt-3">Trials Planning</h3>
          <p class="font-weight-light mb-5">Debrief has specialised capabilities that make it ideal for the whole equipment trials process: covering planning, analysis and presenting results.</p>
          <a target="_blank" href="https://www.youtube.com/watch?v=VKSsGjLXabI" class="btn btn-lg btn-default btn-secondary">
            <i class="fas fa-chart-area"></i>
            See the full screencast
          </a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="https://www.youtube.com/watch?v=VKSsGjLXabI" target="_blank">
            <img class="img-fluid" src="../assets/images/PlanTrial.gif" alt="PlanTrial" width="506" height="488">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="http://debrief.info/s2r-videos/" target="_blank">
            <img class="img-fluid" src="../assets/images/06_SATC_suppress_cuts_400x400.gif" alt="Single Sided Reconstruction by Debrief" width="400" height="400">
          </a>
        </div>
        <div class="col-sm-6">
          <h3 class="font-weight-light mt-3">Single Sided Reconstruction</h3>
          <p class="font-weight-light mb-5">Debrief can be used to produce a solution for target tracks based on bearing data, even for multi-leg engagements that are typically challenging using manual TMA capabilities.</p>
          <a target="_blank" href="http://debrief.info/s2r-videos/" class="btn btn-lg btn-default btn-secondary">
            <i class="fab fa-youtube"></i>
            See the full screencast
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-default section-default--gray">
    <div class="container-fluid">
      <h1>OUR USERS</h1>
      <p class="text-center font-weight-light">Debrief has years of experience providing top notch analysis capabilities to tier one organisations throughout the World</p>
      <div class="divider-default clearfix"></div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/raytheon-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/thales-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/defense-logo-1-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/defense-logo-2-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/dstl-150x150.jpg" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/quin-150x150.jpg" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/atlas2-150x150.jpg" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/ultra-electronics-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/australian-dept-of-defense-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/submarine-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/fish-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/RD-defense-logo-150x150.png" alt="" class="img-thumbnail thumbnail-user-logo d-block mx-auto">
        </div>
      </div>
    </div>
  </section>
  <section class="section-default">
    <div class="container-fluid">
      <h1>FEATURES</h1>
      <div class="divider-default clearfix"></div>

      {% include features.html %}
      
    </div>
  </section>
  <section class="section-default">
    <div class="block-try">
      <div class="row">
        <div class="col-md-10 d-flex flex-column justify-content-center">
          <h2 class="font-weight-light">Ready to try?</h2>
          <p class="font-weight-light">Like Debrief? Why not give it a whirl, it is (and will always be) free! Or use the form below to let us know if you need anything more.</p>
        </div>
        <div class="col-md-2">

            <a target="_self" class="btn-circle btn-with-symbol ml-auto" href="/get-debrief">
              <span class="text">SURE</span>
              <span class="symbol">
                <img alt="ok" src="../assets/images/done-icon.png">
              </span>
          </a>

        </div>
      </div>
    </div>
  </section>
  <section class="section-default">
      <div class="container-fluid">
        <h1>GET IN TOUCH WITH US</h1>
        <p class="text-center font-weight-light">If you’d like to learn more about Debrief, or would like to discuss support options please leave us a message, and we’ll get back to you as soon as we can.</p>
        <div class="divider-default clearfix"></div>
        <form class="mb-5">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="SMinputName" class="font-weight-light">Your Name (required)</label>
                <input type="text" class="form-control form-control--gray form-control-lg" id="SMinputName">
              </div>
              <div class="form-group col-md-6">
                <label for="SMinputEmail" class="font-weight-light">Your Email (required)</label>
                <input type="email" class="form-control form-control--gray form-control-lg" id="SMinputEmail">
              </div>
            </div>
            <div class="form-group">
              <label for="SMinputSubject" class="font-weight-light">Subject</label>
              <input type="text" class="form-control form-control--gray form-control-lg" id="SMinputSubject">
            </div>
            <div class="form-group">
                <label for="SMinputMessage" class="font-weight-light">Your Message</label>
                <textarea class="form-control form-control--gray form-control-lg" id="SMinputMessage" rows="6"></textarea>
              </div>
            
            <button type="submit" class="btn btn-secondary btn-submit">SEND THE MESSAGE</button>
          </form>
        
      </div>
    </section>
</main>


